.login_blob_1 {
    position: absolute;
    left: -350px;
    top: -300px;
    animation: blob 5s infinite ease-in-out;
}

.login_blob_2 {
    position: absolute;
    right: -300px;
    top: -350px;
    animation: blob 4s infinite ease-in-out;
}

.login_blob_3 {
    position: absolute;
    right: -400px;
    bottom: -400px;
    animation: blob 5.5s infinite ease-in-out;
}

.login_blob_4 {
    position: absolute;
    left: -350px;
    bottom: -550px;
    animation: blob 4.5s infinite ease-in-out;
}

.hours_blob {
    position: absolute;
    left: 0;
    top: 0;
    animation: hours-blob 5s infinite ease-in-out;
}

@keyframes hours-blob {
    0% {
        transform: translate(0px, 0px) scale(1);
    }
    33% {
        transform: translate(30px, -100px) scale(1.2);
    }
    66% {
        transform: translate(-20px, 20px) scale(0.9);
        opacity: 0.7;
    }
}

@keyframes blob {
    0% {
        transform: translate(0px, 0px) scale(1);
    } 25% {
        transform: translate(200px, -150px) scale(1.2);
    } 50% {
        transform: translate(100px, 150px) scale(0.8);
        opacity: 0.2;
    } 75% {
        transform: translate(-150px, 100px) scale(1.2);
    } 100% {
        transform: translate(0px, 0px) scale(1);
    }
}